#content {
	max-width: 1040px;
	margin: 40px auto;
	display: flex;
	flex-flow: row;
}
#content_left {
	width: 675px;
	margin-right: 40px;
}

#content_right {
	width: 300px;
	margin-left: 25px;
}

.first_row {
	display: flex;
	flex-flow: row;
}
.first_row h1{
	font-size: 26px;
}
.first_row .name{
	font-weight: bold;
    color: #494949;
}
.first_row .en_name{
	font-weight: bold;
    color: #494949;
    margin-left: 8px;
	font-family:Helvetica, Arial, sans-serif

}
.first_row .time{
	font-weight: bold;
    color: #888;
    margin-right: 5px;
	font-family:Helvetica, Arial, sans-serif

}
.information{
	width: 675px;
	margin-top: 10px;
	display: flex;
	flex-flow: row;
}
.information .left{
	width: 135px;
	height: 200px;
}
.information .left img{
	width: 100%;
	height: 100%;
}
.information .left{
	width: 135px;
	height: 200px;
}
.information .center{
	width: 333px;
	height:231px;
	margin-left: 15px;
}
.information .right{
	width: 155px;
	height:157px;
	margin-left: 15px;
	background: yellow;
}
.commonTips{
	padding: 5px 0;
	color: #666;
}
.commonTips span{
	padding: 0 5px;
}
.right .gradeTips{
	color: #9b9b9b;
}
#grade{
	display: flex;
	flex-flow: row;
}
.grade{
	width: 56px;
	height: 56px;
	color: #494949;
	font-size: 28px;
	text-align: center;
}
.gradeImg {
	display: block;
	width: 55px;
	height: 11px;
	background: url(../img/ic_rating_s.png) no-repeat;
	background-position: 0 0;
	margin: 5px;
}
