#content {
	max-width: 1040px;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

#content_left {
	width: 675px;
	margin-right: 40px;
}

#content_right {
	width: 300px;
	margin-left: 25px;
}

.city {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 26px;
	font-weight: 550;
	float: left;
	margin-top: 55px;
	margin-bottom: 25px;
	font-family: "微软雅黑";
}

#change_btn {
	margin-top: 65px;
	margin-left: 10px;
	height: 25px;
	font-size: 14px;
	color: #37a;
	cursor: pointer;
	background: #fff;
	border: none;
	outline: none;
}

#change_btn span:hover {
	background: #37a;
	color: #fff;
}

.show_title h3 {
	font: 15px Arial, Helvetica, sans-serif;
	color: #072;
	margin: 24px 0 10px 0;
	line-height: 150%;
}

hr {
	width: 676px;
	margin: 0;
	padding: 0;
}

.movie_outer {
	width: 675px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.movie_detail_div {
	width: 115px;
	height: 250px;
	margin: 30px 0 15px 20px;
}

.movie_detail_a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.movie_img {
	width: 115px;
	height: 167px;
}

.movie_img img {
	width: 100%;
	height: 100%;
}

.movie_title {
	display: block;
	width: 80%;
	height: 24px;
	margin: auto;
	line-height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.movie_corse {
	width: 90px;
	height: 25px;
	display: flex;
	flex-flow: row;
	margin: 0 auto;
}

.movie_average_pic0 {
	display: block;
	width: 55px;
	height: 11px;
	background: url(../img/ic_rating_s.png) no-repeat;
	background-position: 0 0;
	margin: 5px;
}

.movie_average {
	display: block;
	width: 25px;
	line-height: 25px;
	color: #e09015;
}

.buy_ticket {
	width: 100%;
}

.buy_ticket button {
	width: 80%;
	height: 26px;
	margin: 3px 10% 3px 10%;
	border: 1px solid #d9d9d9;
	background: #F5F5F5;
	border-radius: 3px;
	line-height: 24px;
	text-align: center;
	outline: none;
}

.buy_ticket button:hover {
	background: #D5D5D5;
}

.right_container {
	width: 33%;
}

.movie_news {
	width: 100%;
	background: #fff;
	margin-top: 115px;
}

.movie_news p {
	font-size: 15px;
	font-weight: normal;
}

.movie_news_outer {
	list-style: none;
	padding: 0!important;
	margin: 0!important;
}

.movie_news_child:first-child {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #EEE;
	display: block;
	position: relative;
}

.movie_news_child .news_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 80px;
}

.movie_news_child .news_img img {
	width: 100%;
	height: 100%;
}

.movie_news_child .news_title {
	position: absolute;
	top: 0;
	left: 130px;
	width: 160px;
	color: #666699;
	cursor: pointer;
}

.movie_news_child .news_title:hover {
	color: #fff;
	background: #37a;
}

.movie_news_child .news_club {
	position: absolute;
	top: 50px;
	left: 130px;
	width: 160px;
	color: #AAAAAA;
}

.movie_news_child_other {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
	color: #666699;
	cursor: pointer;
}

.movie_news_child_other p {
	margin: 0!important;
}

.movie_news_child_other p:hover {
	color: #fff;
	background: #37a;
}

.movie_tops {
	width: 100%;
	background: #fff;
	margin-top: 115px;
}

.movie_tops p {
	font-size: 15px;
	font-weight: normal;
}

.movie_tops_tips {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.movie_tops_tips p:first-child {
	font-size: 18px;
}

.movie_tops_tips p:last-child {
	font-size: 13px;
	padding: 0;
	margin: 0;
	line-height: 35px;
}

.movie_tops_btn {
	background: #fff;
	color: #00a1e9;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 5px 10px;
	margin: 3px 5px;
	cursor: pointer;
}

.movie_tops_btned {
	background: #00a1e9;
	color: #fff;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 5px 10px;
	margin: 3px 5px 3px 0;
	cursor: pointer;
}

.movie_tops_menu {
	padding-left: 0;
}

.movie_tops_menu li {
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
}

.movie_tops_menu li:first-child {
	margin-top: 15px;
	border-top: 1px solid #EEE;
}

.movie_tops_menu li p {
	margin-bottom: 0;
	color: #33749e;
	font-size: 13px;
	margin-left: 0;
}

.movie_top_num {
	color: #aaa;
	margin-right: 12px;
	margin-left: 8px;
	font-weight: normal;
}

.movie_top_title {
	color: #33749e;
	font-size: 13px;
	margin-left: 0;
}

.movie_top_title:hover {
	color: white;
	background: #33749e;
}

.movie_top_pf {
	float: right;
	color: #aaa;
}

.movie_top_average {
	margin-left: 20px;
	color: #e09015;
	display: none;
}

.movie_top_count {
	display: none;
}

.movie_top_pf2 {
	color: #aaa;
	margin-left: 20px;
	display: none;
}
.more_btn{
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	margin: 56px 0 36px 0;
	line-height: 36px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #336699;
	
}
#aside{
	margin: 55px 0 28px;
    padding: 12px 0 12px 18px;
    line-height: 1.5;
    background: #f2f7f6;
    border-radius: 4px;
    width: 300px;
} 
#aside a{
	color: #666699;
    text-decoration: none;
    font-size: 14px;
} 
#aside a:hover{
	color: #fff;
    background:  #37a;
} 
#hot_link{
    background: #f2f7f6;
    border-radius: 4px;
    vertical-align: top;
    width: 300px;
    padding: 10px 0 10px 8px;
    margin-top: 28px;
    border-radius: 4px;
}
#hot_link h2{
    color: #072;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 0 10px 10px;
    margin: 0;
}
#hot_link ul{
	list-style: none;
	padding: 0;
}
#hot_link ul li{
	margin:8px 10px;
	
}
#hot_link ul li a{
	color: #666699;
    text-decoration: none;
    font-size: 13px;
}
#hot_link ul li a:hover{
	color: #fff;
    background:  #37a;
    text-decoration: none;
}
.Advertisement{
	width: 300px;
	height: 250px;
	position: relative;
	
}
.Advertisement img{
	width: 100%;
	height: 100%;
}
.Advertisement_tips{
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;	
	background: rgba(0, 0, 0, 0.298039);
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 225px;
	left: 250px;
}
#city_select{
	width: 300px;
    background-color: #f6f3d3;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 12px;
}
#city_box{
	width: 74px;
	height: 25px;
	color: #c0c0c0;
	border: 1px solid #eaeaea;
	outline: none;
}
#search_Cinema{
	width: 196px;
	border: 1px solid #eaeaea;
	outline: none;
	font-weight: 100;
	font-size: 12px;
    padding: 3px;
}
#rank{
	width: 300px;
	margin: 25px 0;
}
#rank h2{
	font-size: 16px;
	color: #111;
	font-weight: 100;
}
#rank h2 span{
	font-size:13px;
	color: #666699;
}
#rank_List_outer {
	padding-left: 0;
	list-style: none;
}
#rank_List_outer li{
	padding: 7px 0 7px 5px;
    color: #37a;
    border-bottom: 1px solid #eaeaea;
}
#rank_List_outer li a{
	text-decoration: none;
}
#rank_List_outer li a:hover{
	color: #fff;
	background: #666699;
}
.rank_list_menu:first-child{
	padding: 7px 0 7px 5px;
    color: #37a;
    border-top: 1px solid #eaeaea;
}
.about_me{
	width: 300px;
	
}
.about_me h2{
	font-size: 16px;
	color: #111;
	font-weight: 100;
}
.about_me hr{
	color:#eaeaea;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*加载动画*/
.spinner {
	margin: 100px auto;
	width: 20px;
	height: 20px;
	position: relative;
}
.container1>div,
.container2>div,
.container3>div {
	width: 6px;
	height: 6px;
	background-color: #333;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.circle1 {
	top: 0;
	left: 0;
}

.circle2 {
	top: 0;
	right: 0;
}

.circle3 {
	right: 0;
	bottom: 0;
}

.circle4 {
	left: 0;
	bottom: 0;
}

.container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}

.container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*动画结束*/